<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf Exercise #</title>
        <link rel="stylesheet" href="style.css"/>
        <meta charset="utf-8" />
    </head>

    <body>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Species</th>
                <th>Social status</th>
                <th>Boi side</th>
                <th>Account Owner</th>
                <th>Balance</th>
                <th>Fundraising</th>
            </tr>

            <tbody>
            <tr th:each="bankaccount : ${bankaccounts}">
                <td th:text="${bankaccountStat.index}"></td>
                <td th:text="${bankaccount.animalType}"></td>
                <td th:if="${bankaccount.socialStatus}=='king'" th:text="${bankaccount.socialStatus}" th:bgcolor="peachpuff"></td>
                <td th:unless="${bankaccount.socialStatus}=='king'" th:text="${bankaccount.socialStatus}"></td>
                <td th:if="${bankaccount.goodBoy}" th:text="'good boi'"></td>
                <td th:unless="${bankaccount.goodBoy}" th:text="'bad boi'"></td>
                <td th:text="${bankaccount.name}"></td>
                <td th:text="${bankaccount.balance} + ' ' + ${bankaccount.currency}" ></td>
                <td>
                    <form th:action="@{/fundraising}" method="POST">
                        <input type="hidden" name="id" th:value="${bankaccountStat.index}">
                        <input type="submit" value="Raise some funds"/>
                    </form>
                </td>
            </tr>
            </thead>
        </table>

        <h1>New Bank Accout</h1>

        <div class="submission">
            <form action="#" th:action="@{table}" method="post" th:object="${newBankAccount}">
                <p>
                    <label for="species">Species:</label>
                    <input type="text" id="species" th:field="*{animalType}" />
                </p>
                <p>
                    <label for="social_status">Social status:</label>
                    <input type="text" id="social_status" th:field="*{socialStatus}" />
                </p>
                <p>
                    <label for="boi_side">Good boy (T/F):</label>
                    <input type="text" id="boi_side" th:field="*{goodBoy}" />
                </p>
                <p>
                    <label for="name">Name:</label>
                    <input type="text" id="name" th:field="*{name}" />
                </p>
                <p>
                    <label for="balance">Balance:</label>
                    <input type="text" id="balance" th:field="*{balance}" />
                </p>
                <p>
                    <label for="currency">Currency:</label>
                    <input type="text" id="currency" th:field="*{currency}" />
                </p>
                <p>
                    <input type="submit" value="Register new bank accout" />
                </p>
            </form>
        </div>
    </body>
</html>