.body {
    max-width: 500px;
    margin: auto;
    font-family: "Amatic SC";
    font-size: 100px;
    color: darkcyan;
    list-style-type: square;
}

.input {
    width: 100%;
    border: none;
    border-radius: 5%;
}

.input:focus {
    border: 2px solid darkcyan;
}