body {
    font-family: Helvetica;
    font-size: 18px;
    text-transform: uppercase;
    background-color: dimgrey;
    padding-left: 0%;
    margin-top: auto;
    width: 70%;
    text-align: right;
}

.hello {
    font-family: "Amatic SC";
    font-size: 80px;
    vertical-align: center;
    color: whitesmoke;
}

input[type="text"] {
    font-family: "Amatic SC";
    font-size: 26px;
    margin-top: 16px;
    background: #444;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    width: 200px;
}


input[type="submit"] {
    font-family: "Amatic SC";
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 16px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    width: 200px;
}
