body {
    font-family: 'Montserrat', monospace;
    background-color: dimgrey;
    margin: auto;
    max-width: 900px;
    width: 100%;
    text-align: right;
}

input[type="text"] {
    margin-top: 16px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    width: 200px;
}


input[type="submit"] {
    margin-top: 16px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    width: 200px;
}
