body {
    font-family: 'Montserrat', monospace;
    background-color: dimgrey;
    margin: auto;
    max-width: 900px;
    width: 100%;
}

main {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    text-align: center;
}

input[type="text"] {
    margin-top: 16px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    width: 200px;
}


input[type="submit"] {
    margin-top: 16px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    width: 200px;
}
