<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <title>index.html</title>
    </head>
    <body>
        <img src="greenfox.png" />
        <p>how about visiting your favourite fox?</p>
        <form action="/login" method="post">
            <input class="login" type="text" name="name" placeholder="enter your fox's name here"/>
            <input class="login" type="submit" value="go, have some fun!" />
        </form>
    </body>
</html>