<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>index.html</title>
    </head>
    <body>
        <img src="greenfox.png" />
        <ul>
            <li><a href="information.html"></a>information</li>
            <li><a href="nutrition centre.html"></a></li>
            <li><a href="tricks centre.html"></a></li>
        </ul>
        <p>how about visiting your favourite fox?</p>
        <form action="/login" method="post">
            <input type="text" name="name" placeholder="enter your fox's name here"/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>