<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>fox nutrition store</title>
    </head>
    <body>
        <p th:text="${fox.nameInLine} + ' eats ' + ${fox.food} + ', and drinks ' + ${fox.drink} + ' nowadays.'"></p>

        <form action="#" th:action="@{/newDiet}" method="get">

            <input type="hidden" name="name" th:value="${fox.name}" />

            <p th:text="'Should ' + ${fox.nameInLine} + ' change to the following diet?'"></p>

            <select th:name="food">
                <option th:each="food : ${foodstore}" th:value="${food}" th:text="${food}"></option>
            </select>

            <select th:name="drink">
                <option th:each="drink : ${drinkstore}" th:value="${drink}" th:text="${drink}"></option>
                <input type="submit" value="yaaaaaas! YAAAAAAAS!!!" />
            </select>

        </form>

    </body>
</html>