<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <title>fox profile</title>
    </head>

    <body>
        <img src="/images/greenfox.png" />

        <form th:action="'/profile/' + ${fox.name} + '/nutritionstore'" method="get">
            <form th:action="'/profile/' + ${fox.name} + '/trickstore'" method="get">
                <form th:action="'/profile/' + ${fox.name} + '/actionhistory'" method="get">
                    <input type="submit" value="visit the nutrition store">
                    <input type="submit" value="visit the trickstore">
                    <input type="submit" value="visit the actionhistory">
                </form>
            </form>
        </form>

        <!--<form th:action="'/profile/' + ${fox.name} + '/nutritionstore'" method="get">-->
            <!--<input type="submit" value="visit the nutrition store">-->
        <!--</form>-->

        <!--<form th:action="'/profile/' + ${fox.name} + '/trickstore'" method="get">-->
            <!--<input type="submit" value="visit the trickstore">-->
        <!--</form>-->

        <!--<form th:action="'/profile/' + ${fox.name} + '/actionhistory'" method="get">-->
            <!--<input type="submit" value="visit the actionhistory">-->
        <!--</form>-->

        <p th:text="'Here you can see the almighty ' +  ${fox.nameInLine} + '. '"></p>
        <p th:text="${fox.nameInLine} + ' is on the fancy diet of ' + ${fox.food} + '. And ' + ${fox.drink} + '!'"></p>

        <div th:if="${fox.doingTricks}">
            <p th:text="${fox.nameInLine} + ' knows ' + ${trickCounter} +' trick(s):'"></p>
            <ul>
                <li th:each="trick : ${tricks}" th:text="${trick}"></li>
            </ul>
        </div>

        <div th:unless="${fox.doingTricks}" >
            <p th:text="${fox.nameInLine} + ' is eager to see the world and learn something new! ...Who knows, maybe ' + ${fox.nameInLine} + ' will be the one who finally stops Javascript.'"></p>
        </div>

        <div th:if="${#lists.isEmpty(history)}" >
            <p th:text="${fox.nameInLine} + ' has been chilling around.'"></p>
        </div>

        <div th:unless="${#lists.isEmpty(history)}" >
        <p th:text="${fox.nameInLine} + ' has been pretty busy: '"></p>
            <ul>
                <li th:unless="${#lists.isEmpty(history)}" th:each="action : ${history}" th:text="${action}"></li>
            </ul>
        </div>

    </body>


</html>