<!DOCTYPE html >
<!--<html xmlns:th="http://www.thymeleaf.org">-->
    <head>
        <meta charset="UTF-8"/>
        <title>fox profile</title>
    </head>
    <body>
    <p>kasdkjsakdj</p>
    <!--<p th:text="${fox.name}"></p>-->
        <!--<img th:src="@{'greenfox.png'}" />-->
        <!--<p th:text="'name: ' ${fox.name}"></p>-->
        <!--<p th:text="'food: ' ${fox.food}"></p>-->
        <!--<p th:text="'drink: ' ${fox.drink}"></p>-->
        <!--<p th:text="'known tricks: ' ${fox.knownTricks()}"></p>-->
    </body>
</html>