<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello, Bean World!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form action="useful/colored">
            <input type="submit" th:value="${color}" />
        </form>

        <!--<form action="useful/email">-->
            <!--<input type="submit" th:value="${email}" />-->
        <!--</form>-->

        <button onclick="location.href='http://localhost:8080/useful/email?email=is@this.valid'" type="button">Validate Email</button>

        <form action="http://google.com">
            <input type="submit" th:value="${caesar}" />
        </form>
    </body>
</html>