<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:bgcolor="${random}">
    <head>
        <title>Hello, Bean World!</title>
        <link rel="stylesheet" href="style.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>

        <p class="hello">
            HELLO, BEAN WORLD!
        </p>

        <form th:action="'useful/colored'">
            <input type="submit" th:value="${color}" />
        </form>

        <p></p>

        <form action="useful/email" method="get">
            <input type="text" name="email" placeholder="enter email here" />
            <input type="submit" value="Validate Email">
        </form>

        <!--<form th:action="'useful/email?email=' + name">-->
            <!--<input type="text" th:name="email" th:placeholder="'enter email here'" />-->
            <!--<input type="submit" th:value="'Validate Email'">-->
        <!--</form>-->

        <p></p>

        <form th:action="'useful/encode?text=' + text + '&number=' + number">
            <input type="text" th:name="text" th:placeholder="'enter your text here'" />
            <input type="text" th:name="number" th:placeholder="'enter your coding value'" />
            <input type="submit" th:value="'Do the encoding!'">
        </form>

        <p></p>

        <form th:action="'useful/decode?text=' + text + '&number=' + number">
            <input type="text" th:name="text" th:placeholder="'enter your encoded text here'" />
            <input type="text" th:name="number" th:placeholder="'enter your decoding value'" />
            <input type="submit" th:value="'Do the decoding!'">
        </form>

    </body>
</html>