<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <link rel="stylesheet" type="text/css" href="/css/stlye.css">
        <title>Todo CRUD App</title>
    </head>
    <style>
        body {
            font-family: "Times New Roman";
            margin: 25px;
        }

        td {
            border: 1px solid black;
            padding: 5px 10px;
        }

        table {
            width: 100%;
        }
    </style>
    <body>
        <h1>TODOS FOR TODAY:</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
            </tr>
                <tr th:each="todo : ${todos}" th:unless="${todo.isDone}">
                    <td th:text="${todo.getId()}"></td>
                    <td th:text="${todo.getTitle()}"></td>
                    <td th:text="${todo.getIsDone()}"></td>
                    <td th:text="${todo.getIsUrgent()}"></td>
                </tr>
            </div>
        </table>
        <div>
            <form action="/todo/" method="get">
                <input type="submit" value="back" />
            </form>
        </div>
    </body>
</html>