<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stlye.css">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Edit todo:</h1>
<form th:action="'/assignee/' + ${assignee.getEmail()} + '/edit'" method="post" th:object="${assignee}">
    <div>
        <input type="text" th:placeholder="${assignee.getName()}" th:field="*{name}" />
    </div>
    <input type="submit" value="edit">
</form>
</body>
</html>