<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
        <link rel="stylesheet" type="text/css" href="/css/stlye.css">
        <title>Todo CRUD App</title>
    </head>
    <body>
        <h1>Add new todo:</h1>
        <form action="/todo/add" method="post" th:object="${newTodo}">
            <input type="text" placeholder="new todo action" th:field="*{title}">
            <input type="submit" value="add">
        </form>
    </body>
</html>